---
layout: default
---

<div class="row">
  <div class="col-xs-12">
    <center>
      <img src="{{ site.github.url }}/assets/img/home_brain_image.png" alt="Home" width="80%">
    </center>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <br>
	   <center><h2 class="fw-bold border-bottom pb-3 mb-3">Welcome to the Sensorimotor Neural Engineering Lab @ UC Berkeley!</h2></center>
     We study how sensory and motor brain signals dynamically coordinate to enable the learning and execution of fast, flexible, and dexterous behaviors. We then seek to leverage these principles to design neurotechnology that can rehabilitate and restore movements in patients with damaged sensorimotor networks. <br> <br> 

	   The lab will be opening in July 2023 and is actively recruiting -- see the "Join" tab for more details!
  </div>

</div>
<!-- 
<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div> -->
