---
layout: default
---

<div class="row">
	<img src="{{ site.github.url }}/assets/img/bayview.jpeg" width="100%">
</div>
<br><br>
<div class="row">
	<h3 class="fw-bold border-bottom pb-3 mb-5">Join us!</h3>
	<div class="col-md-12">
		We are looking to recruit research assistants/engineers, graduate students, masters students, visiting students, and postdoctoral fellows! Postings for specific positions are below! In the meantime, if you're interested in joining or learning more about the lab please get in touch with Preeya (pkhanna at berkeley dot edu). <br><br>

		Please include in your email your CV, a brief description of your research background and experience, the position you're interested in (e.g. graduate student, postdoc, research assistant/engineer), and a description of why you're interested in the lab. Also please note in your email if you've had research experience in any of the following areas: team software engineering projects, signal processing, AI/reinforcement learning, neurophysiological data analysis, systems/computational neuroscience, design of behavioral setups with sensors/actuators, or animal behavioral training. <br><br>

		Graduate students admitted to the Helen Wills Neuroscience Institute or the Electrical Engineering and Computer Sciences department starting in Fall 2023 are particularly encouraged to get in touch about possible rotations in the lab for the  2023-2024 year. <br><br>
	</div>
	
	<div class="col-md-12">
		<h3 class="fw-bold border-bottom pb-3 mb-5">Job Postings: </h3>
		<b><i> Research Engineer: </i></b> <a href="https://careerspub.universityofcalifornia.edu/psp/ucb/EMPLOYEE/HRMS/c/HRS_HRAM.HRS_APP_SCHJOB.GBL?Page=HRS_APP_JBPST&Action=U&FOCUS=Applicant&SiteId=21&JobOpeningId=52352&PostingSeq=1">Apply here!</a> Position open starting 7/1/23. This is a perfect position for a graduating senior, graduating masters students, or person with work experience in industry to gain research experience in the neural engineering field. Help setup analysis codebases, data organization systems, and build the initial behavioral rigs in the Sensorimotor Neural Engineering lab at UC Berkeley! 
	</div>


<!-- 		Finally, we are always interested in recruiting enthusiastic postdoctoral fellows. I look forward to hearing from you! <br><br> -->
	</div>
<!-- 	<div class="col-md-12">
		<h3 class="fw-bold border-bottom pb-3 mb-5">Lab values</h3>
		I am committed to making the Sensorimotor Neural Engineering Lab a safe and welcoming environment. As the lab will inherently be home to trainees, it is critical to methat 
	</div> -->


</div>



