---
layout: default
---

<div class="row">
	<img src="{{ site.github.url }}/assets/img/thumb_research.jpg" width="100%">
</div>
<br><br>
<div class="row">
	<h3 class="fw-bold border-bottom pb-3 mb-5">Participate in research!</h3>
	<div class="col-md-12">
		Part of our research includes studies of sensorimotor control in human participants. We are currently working on submitting our studies through the UC Berkeley IRB. When there are approved opportunities, we will collect contact information from interested participants here. 

		Check back for more information in the coming months! 

	</div>
</div>