---
layout: default
---

<div class="row">
	<img src="{{ site.github.url }}/assets/img/thumb_research.jpg" width="100%">
</div>
<br><br>
<div class="row">
	<h3 class="fw-bold border-bottom pb-3 mb-5">Participate in research!</h3>
	<div class="col-md-12">
		Part of our research includes studies of sensorimotor control in human participants. If you are interested in participating in our studies, please fill out <a href="https://docs.google.com/forms/d/e/1FAIpQLSdevkyY25TE8HI6zGKa2aLQWNP7x4es0oPtjAuAKZi6zL3Pag/viewform">the following survery</a> and we will be in touch if you meet the eligibility criteria for one of our studies. Thanks for your interest! 
		<br><br><br>
		
		<div class="row">
			<img src="{{ site.github.url }}/assets/img/research_flyer.jpg" width="100%">
		</div>



	</div>
</div>