---
layout: default
---

<div class="row">
  <div class="col-md-12">
	When we perform dexterous movements, like playing the violin or
	drawing, we monitor multiple sensory modalities to ensure our 
	movements are being executed as intended. If they aren’t, 
	adjustments to movement can be made on the fly. How do 
	the dynamics of brain activity enable such rapid and seamless 
	sensorimotor interplay? <br> <br>

	The goal of our research is to uncover the network-
	level principles the brain uses to filter and integrate feedback to 
	modify ongoing behavior, and to use these principles to develop 
	neurophysiologically-grounded neurotechnology to rehabilitate and 
	restore damaged sensorimotor systems. <br><br>

	We also seek to develop better assessments for measuring sensorimotor 
	integration, better tools for measuring brain activity, and more
	precise descriptions of impairments in dexterous behavior in 
	clinical populations.  <br><br>
  </div>
 </div>
<div class="row g-5 mb-5">
  <h3 class="fw-bold border-bottom pb-3 mb-5">Multi-area sensorimotor network dynamics underlying dexterity</h3>
    <!-- <div class="col-md-7"> -->
	We seek to uncover the brain dynamics underlying learning and execution of feedback-reliant, dexterous sensorimotor control. We approach this problem using high-density multi-area electrophysiology recording in awake and behaving animals performing dexterous learning tasks and closed-loop brain-machine interface tasks. <br><br>

	We then apply multi-scale population neural analyses and develop models of network interactions to understand the content and flow of information through the sensorimotor network. 
  <!-- </div> -->
  <div class="row mb-5">
    <center><img src="{{ site.github.url }}/assets/img/project1_v3.png" alt="Home" width="100%"></center>
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="row-md-12">
  	<h3 class="fw-bold border-bottom pb-3 mb-5">Generative models of dexterous movement control</h3>
	How do we execute complex grasping and manipulation movements? Which joints move more versus less, and how does this change in the injured and recovering sensorimotor system? Towards answering these questions, we develop easily donnable sensorized monitoring systems (see example below) for collecting and modeling dexterous behavior in intact and clinical populations. We then use this data to fit generative models to better understand injury and recovery-related changes in control of movement. 
  </div>
  <div class="row-md-12">
    <center><img src="{{ site.github.url }}/assets/img/project2.png" alt="Home" width="80%"></center>
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="row-md-12">
  	<h3 class="fw-bold border-bottom pb-3 mb-5">Developing neurotechnology to restore movement</h3>
	How does nerve stimulation influence control of movement? Might a particular patient benefit from nerve stimulation? To answer these questions we characterize the neurophysiologial changes underlying neurotechnology use, and design new invasive and non-invasive 
	interventions for restoring sensorimotor network function. Together these efforts aim to move towards personalized neurotechnology prescriptions and therapies that are more impactful on network function.
  </div>
  <div class="row-md-12">
    <center><img src="{{ site.github.url }}/assets/img/project3.png" alt="Home" width="80%"></center>
  </div>
</div>

<!-- 
<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div> -->
