---
layout: default
---

<div class="row">
  <div class="col-md-12">
	When we perform dexterous movements, like playing the violin or
	drawing, we monitor multiple sensory modalities to ensure our 
	movements are being executed as intended. If they aren’t, 
	adjustments to movement can be made on the fly. How do 
	the dynamics of brain activity enable such rapid and seamless 
	sensorimotor interplay? <br> <br>

	The goal of our research is to uncover the network-
	level principles the brain uses to filter and integrate feedback to 
	modify ongoing behavior, and to use these principles to develop 
	neurophysiologically-grounded neurotechnology to rehabilitate and 
	restore damaged sensorimotor systems. We also
	seek to develop better assessments for measuring sensorimotor 
	integration, better tools for measuring brain activity, and more
	precise descriptions of impairments in dexterous behavior in 
	clinical populations.  <br><br>
  </div>
 </div>
<div class="row g-5 mb-5">
  <div class="col-md-8">
  	<h1 class="fw-bold border-bottom pb-3 mb-5">Multi-area sensorimotor network dynamics underlying dexterity</h1>
	Uncovering brain dynamics underlying learning and execution of
	feedback-reliant, dexterous sensorimotor control. We approach this problem using high-density multi-area 
	electrophysiology recording in awake and behaving animals performing 
	dexterous learning tasks and closed-loop brain-machine 
	interface tasks. <br><br>

	We then apply population neural analyses and develop models of network interactions to understand the content
	and flow of information thorugh the sensorimotor network. 
  </div>
  <div class="col-md-4">
    <center><img src="{{ site.github.url }}/assets/img/project1_v3.png" alt="Home" width="100%"></center>
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="row-md-12">
  	<h1 class="fw-bold border-bottom pb-3 mb-5">Generative models of dexterous movement control</h1>
	Developing generative models of intact
	and injured sensorimotor control of movements. Towards this, 
	developing low-cost, easily donnable kinematic monitoring systems 
	for collecting and modeling dexterous behavior in intact and
	clinical populations.
  </div>
  <div class="row-md-12">
    <center><img src="{{ site.github.url }}/assets/img/project2.png" alt="Home" width="80%"></center>
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="row-md-12">
  	<h1 class="fw-bold border-bottom pb-3 mb-5">Developing neurotechnology to restore movement</h1>
	Engineering invasive and non-invasive 
	neurotechnological interventions for restoring sensorimotor network
	function. Characterizing how neurotechnology interacts with the 
	nervous system and optimizing interventions to be personalized and 
	responsive to the network.
  </div>
  <div class="row-md-12">
    <center><img src="{{ site.github.url }}/assets/img/project3.png" alt="Home" width="80%"></center>
  </div>
</div>

<!-- 
<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div> -->
