---
layout: default
---

{{ content }}

<!-- <h2 class="fw-bold border-bottom pb-3 mb-5">Team</h2> -->
{% for person in site.data.settings.people %}
<div class="row g-5 mb-5">
  <div class="col-md-3">
    <img src="{{ site.github.url }}/{{ person.image }}" alt="Contact" width="100%">
  </div>
  <div class="col-md-9">

    <center><h3>{{ person.name }}</h3>
    <p>{{ person.position }}</p>
    <p>Research interests: {{ person.research_interests }}</p>
    <p><a href="{{ person.url }}">More</a></p></center>
  </div>
</div>
{% endfor %}
