---
layout: default
---

{{ content }}

<!-- <h2 class="fw-bold border-bottom pb-3 mb-5">Team</h2> -->
{% for person in site.data.settings.people %}
<div class="row g-5 mb-5">
  <div class="col-md-4">
    <img src="{{ site.github.url }}/{{ person.image }}" alt="Contact" width="100%">
  </div>
  <div class="col-md-8">
    <center><h4>{{ person.name }} {{ person.degrees }}</h4>
      <p>{{ person.position }}</p>
      <p>{{ person.research_interests}}</p>
      <p>{{ person.extra_text }} <a href="{{ site.github.url }}/{{ person.extra_link }}" > {{person.extra_link_text}}</a></p>
      <p>{{ person.extra_text2 }} <a href="{{ person.extra_link2}}" > {{person.extra_link_text2}}</a></p>
   </div>
</div>
{% endfor %}

<div>
  <h3 class="fw-bold border-bottom pb-3 mb-5">Alumni</h3>
    <ul>
      {% for person in site.data.settings.alumni %}
        <li>{{ person.name }} {{ person.degrees }} , {{person.role}}, {{person.duration}} <br>
          Next: {{person.next}},
          {{ person.extra_text }} <a href="{{ site.github.url }}/{{ person.extra_link }}" > {{person.extra_link_text}}</a>
          {{ person.extra_text2 }} <a href="{{ person.extra_link2}}" > {{person.extra_link_text2}}</a>
        </li>
      {% endfor %}
    </ul>
</div>